# Optional overrides
PORTAINER_TAG=2.45.1-alpine
PORTAINER_TUNNEL_BIND=0.0.0.0
TZ=Europe/Athens

# Optional for docker-compose.yml
PORTAINER_CPU_LIMIT=0.5
PORTAINER_MEMORY_LIMIT=128m
PORTAINER_MEMORY_RESERVATION=32m
PORTAINER_PIDS_LIMIT=200

# Optional for docker-compose.synology.yml
SYNOLOGY_DOCKER_VOLUMES=/volume1/@docker/volumes
